@import url("../../../shared/reset.css");
@import url("../../../shared/theme.css");

:local(.AboutPageDiv) {
  background: url('studio.jpg');
  width: 1500px;
  height: 800px;
  display: block;
  margin: 30px 0;
}

:local(.AboutPage) {
  font-weight: bold;
  font-size: 50px;
}