.modalOverlayBlack {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.modalOverlayTransparent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}