.modal {
  width: 300px;
  background: #fff;
  padding: 15px;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  box-shadow: 10px 10px 74px -10px rgba(0,0,0,0.6);
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 3px;
}