.okButton, .cancelButton {
  padding: 10px;
  margin-right: 5px;
  display: block;
  float: left;
  cursor: pointer;
}

.okButton {
  background: green;
  color: #fff;
}

.okButton:hover {
  background: darkgreen;
}

.cancelButton {
  background: grey;
  color: #fff;
}

.cancelButton:hover {
  background: dimgrey;
}