.textAreaInput {
  margin: 10px 0;
}

.textAreaInput label {
  display: block;
  margin-bottom: 5px;
}

.textAreaInput span {
  display: block;
  color: red;
}

.textAreaInput textarea {
  width: 400px;
  height: 150px;
}