@import "../../../shared/variables";

.image {
  float: left;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: $gray-lighter;
}

.image img {
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.container {
  overflow: auto;
  margin: 15px 0;
}

.imageCaption {
  font-size: 14px;
  color: #333;
}