:local(.image) {
  float: left;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}

:local(.image) img {
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

:local(.container) {
  overflow: auto;
  margin: 15px 0;
}

:local(.imageCaption) {
  font-size: 14px;
  color: #333;
}